{% extends "base.html" %}

{% load static %}

{% block content %}


<div class="container  mt-5" style="height:650px;, width:100%;">

  <div class="p-3">

  <h3 class="text-center">About Us!</h3>

  
  <p class="text-primary fw-bold fs-4 text-center font-monospace">We're thrilled you found your way to LogBook. This blogging website is your one-stop shop for niche blog. Whether you're a seasoned expert or just starting out, we aim to provide you with informative, engaging, and inspiring content that will help you on your journey.</p>

  <h5 class="mt-5 font-monospace">Who are we?</h5>
  <p class="text-primary fw-semibold font-monospace">LogBook is a blogging website and is run by LogBook team of experts. 

    <h5 class="font-monospace">What can you expect from us?</h5>
    <p class="text-primary fw-semibold font-monospace">The blogs covers a wide range of topics related to your niche or area of expertise. We strive to deliver content that is: Informative, Engaging, Inspiring.</p>

    <h5 class="font-monospace">We want to hear from you!</h5>
    <p  class="text-primary fw-semibold font-monospace" >Your feedback is important to us. We encourage you to leave comments on our posts, share your thoughts, and ask questions. You can also connect with us on social media:
      We're always happy to interact with our readers and build a community around</p>

      <h3 class="text-center pt-4 font-monospace">Thanks for reading!</h3>
      <p  class="text-primary fw-semibold text-center font-monospace">We hope you'll stick around and become a regular reader. Let's explore the world of your interested blogs together!</p>
      
</div>
{% comment %} </div> {% endcomment %}

{% endblock content %}