{% extends "base.html" %}

{% load static %}

{% block content %}


<section class="section-sm">
  <div class="text-center fs-2 text-primary fw-bolder bg-light rounded-pill mx-3">Our Terms and Conditions</div>
 
  <div >


     <p  class="px-5 my-5" ><b>Responsibility of Contributors</b>
     We may collect the following information from you:
       <br><br>
      <b> Personal Information:</b> This may include your name and email address if you choose to leave a comment, subscribe to our newsletter, or contact us through the contact form.<br>

        <b> Gathering of Personal Information</b> When you visit the Site, we may automatically collect information about your device and browsing activity. This information may include your IP address, browser type, operating system, referring URL, pages visited, and time spent on the Site.<br>

           <b>Protection of Personal- Information</b> We may use cookies and similar tracking technologies to collect and store certain information. This information may include your preferences and browsing activity.<br><br>

           <b>Privacy Policy Changes</b><br>
           <ul class="px-5 ">
           We may use the information we collect for the following purposes:
           <li class="mx-4">To operate and maintain the Site</li>
           <li class="mx-4">To personalize your experience on the Site</li>
           <li class="mx-4">To personalize your experience on the Site</li>
           </ul>


            <p class="px-5"><b>Sharing Your Information:</b>

             The LogBook items are designed to be with the latest , We check all
              comments that threaten or harm the reputation of any person or organization
              personal information including, but limited to, email addresses, telephone numbers
              Any Update come in The technology Customer will get automatic Notification.</p>
     </p>

  </div>
</section> 
      </div>
    </div>
  </div>
</section>

{% endblock content %}